
<div id="block1" style="
width: 300px;
display: inline-block;
margin: 2px;">
  <h1>Who am I?</h1>
    <ul>
        <li>Programmer</li>
        <li>Freelancer</li>
        <li>Guitar player</li>
        <li>Fedora Silverblue User (Linux ❤️)</li>
      </ul>
</div>
<div id="block2" style="
width: 250px;
display: inline-block;
margin: 2px;">
   <h1>Skills</h1>
    <ul>
        <li>Flutter/Dart</li>
        <li>Tauri/Rust</li>
        <li>Умею готовить код в любой IDE</li>
        <li>Остались вопросы? Пишите!</li>
      </ul>
</div>