
<div id="block1" style="
width: 280px;
display: inline-block;
border: 1px solid blue;
margin: 2px;">
  <h1>Who am I?</h1>
    <ul>
        <li>Programmer (Frontend & Backend)</li>
        <li>Freelancer</li>
        <li>Guitar player</li>
        <li>Fedora Silverblue User (Linux ❤️)</li>
      </ul>
</div>
<div id="block2" style="
width: 280px;
display: inline-block;
border: 1px solid blue;
margin: 2px;">
   <h1>Skills</h1>
    <ul>
        <li>Flutter/Dart</li>
        <li>Tauri/Rust</li>
        <li>Docker</li>
        <li>VSCode/IntelliJ IDEA</li>
        <li>Git/Bash</li>
      </ul>
</div>